# Impedir que se pueda ver el listado de contenidos de un directorio

#Options All -Indexes

# Url Amigables

RewriteBase /
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]